<main class="page-content" aria-label="Content">
      <div class="wrapper">
        <article class="post">
  <header class="post-header">
    <h1 class="post-title">Yunming Zhang</h1>
  </header>
  <div class="post-content">
    <table border="0">
      <tbody>
	<tr>
	  <!-- <td> -->
<!-- 	    <img src="/assets/yunming_personal.jpg" width="160" /> -->
<!-- 	  </td> -->
	  <td >
	    PhD Candidate<br />
	    Computer Science and Artificial Intelligence Laboratory<br />
	    Department of Electrical Engineering and Computer Science<br />
	    Massachusetts Institute of Technology<br />
	    <a href="https://yunmingzhang.wordpress.com">My Technical Blog</a><br />
	    <a href="mailto:yunming@mit.edu">yunming at mit dot edu</a><br />
	    <a href="/assets/yunming-cv.pdf">Curriculum Vitae</a>
	  </td>
	</tr>
      </tbody>
</table>
<p>
I am interested in designing domain-specific languages, compilers, 
and deve
</p>
